.main {
  width: 50%;
  height: 100%;
  margin: 100px auto;
}

.btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
}

.streetlight {
  width: 300px;
  height: 650px;
  margin: 50px auto;
  border: 5px solid black;
  background-color: rgba(0, 0, 0, 0.3);
}

.circle {
  width: 150px;
  height: 150px;
  margin: 50px auto;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.pale {
  opacity: 0.5;
}
